.imagen_principal {
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;



    &__img {
        border-radius: 15px;
        width: 100%;
        box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);    
    }
}

.imagen_yogui {
    size: 50px;
}

.imagen_fundador {
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

.imagen_fundador img {
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}

#img1, #img2 {
    border-radius: 10%;
    width: 450px;
    height: 350px;
    margin: 20px;
}

#img1 {
    float: right;
}
#img2 {
    float: left;
}